.circle{
  border-radius: 50%;
}
.imgPpal{
  height: 100vh;
  position: relative;
}
.imgPpalCel{
  height: 94vh;
  width: auto;
}
.imagen_iconos{
  position: absolute;
  top: 95px;
}
.img_icon{
  opacity: 0.6;
  max-width: 250px;
  height: auto;
}
.img_icon:hover{
  opacity: 1;
  cursor: pointer;
}
.img_icon_cel{
  opacity: 0.6;
  height: 20vh;
  min-width: 25vw;
  max-width: 25vw;
}
.img_icon_cel:hover{
  opacity: 1;
  cursor: pointer;
}
.enlace:hover{
  color: #adadad;
}
.nav-shadow{
  -webkit-box-shadow: 0px 1px 7px 0px rgba(179,179,179,1);
  -moz-box-shadow: 0px 1px 7px 0px rgba(179,179,179,1);
  box-shadow: 0px 1px 7px 0px rgba(179,179,179,1);
}
.text_absolute{
  position: absolute;
  top: 50%;
}
.text_fondo{
  background-color: rgba(0,0,0,0.7);
  border-radius: 8px;
}
.fondo_test{
  position: absolute;
  min-width:100%;
  max-width:100%;
  min-height: 100vh;
  background-color: rgba(100,100,100,0.3);
  z-index: 4;
}
.text_fondo_2{
  background-color: rgba(100,100,100,0.7);
  border-radius: 8px;
  z-index: 5;
}
.img_logo{
  position: absolute;
  left: 80%;
  top: 15%;
  max-width: 10%;
  border-radius: 50%;
}
.img_logo_cel{
  position: absolute;
  top: 30%;
  left: 35%;
  max-width: 40%;
  border-radius: 50%;
  opacity: 0.8;
}
.linea{
  margin:7px 20px;
  width:75px;
  border-top:2px solid #000;
  position: relative;
  top:28px;
  float:left;
  line-height: 10px;
}
.leyenda{
  font-size: 40px;
  float:left;
}
.img_product{
  max-height: 200px;
  width:auto;
}
.svg_carac{
  fill:#adadad;
}
.svg_carac:hover{
  fill:#308dff;
}
.footer{
  border-top: 10px #000000 solid;
}
.title_footer{
  font-size: 20px;
  font-family: Londrina Solid;
}
.border-bottom-footer{
  border-bottom: 4px solid #030b59;
}
.bg-blue{
  background-color: #27e2ff;
}
.texto_servicios{
  font-size: 19px;
  color: #454545;
}
.li_servicios{
  list-style:none;
}
